email-validator==1.1.2
factory-boy==3.1.0
Flask-Security==3.0.0
Flask-Injector==0.12.0
Flask==1.1.2
bcrypt==3.1.7
marshmallow==3.10.0
marshmallow-dataclass==8.1.0
Flask-Login==0.5.0
SQLAlchemy~=1.4.14
flasgger==0.9.5
flask-cors
apispec
flask
flask-apispec
marshmallow_enum
typeguard
flask-log-request-id
sentry-sdk[flask]
typing~=3.7.4.3
redis~=3.5.3
injector~=0.18.4
minio~=7.0.4
rq~=1.5.2
python-dotenv~=0.15.0
phonenumbers~=8.12.24
Werkzeug~=1.0.1
python-dateutil~=2.8.1
nanoid~=2.0.0
pytest~=6.1.2
Faker~=8.1.2
jsonpickle~=2.0.0
pytz~=2021.1
freezegun~=1.0.0
passlib~=1.7.4
requests~=2.22.0